<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Assistant</title>
  <!-- base:css -->

  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/dist/css/styles.css">
  <!-- endinject -->
  
</head>

<body>
    <div id="registration-form">
	<div class='fieldset'>
   
		<form  method="post" action="/formsignup" >
			<div class='row'>
			<input type="text" placeholder="enter your Name" name='name'  required="true">
			</div>

			<div class='row'>
			
				<input type="text" placeholder="enter your Mobile number" name='mobile'  required="true">
			</div>

            <div class='row'>
			
				<input type="text" placeholder="email" name='email'  required="true">
			</div>

            <div class='row'>
			
				<input type="text" placeholder="enter your Salary" name='salary'  required="true">
			</div>

            <div class='row'>
			
				<input type="text" placeholder="City" name='city'  required="true">
			</div>

            <div class='row'>
			
				<input type="text" placeholder="Country" name='country'  required="true">
			</div>

            <div class='row'>
			
				<input type="text" placeholder="enter your Department" name='department'  required="true">
			</div>
			
            
			
			<input type="submit" value="Register">
		</form>
	</div>
</div>
</body>
</html>
